/* Adobe Font Styles */
.mrs-eaves-xl-seri{
    font-family: 'mrs-eaves-xl-serif',serif;
    font-weight: 800;
    font-style: normal;
}

.mr-eaves-modern{
    font-family: 'mr-eaves-modern',sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Brand Colors */

.brand-color{
    color: #171717;
}

.white-brand-color{
    color: #D1D1D1
}

body{
    background-color: #D1D1D1;
    font-size: 12px;
}
.navbar-inverse{
    background-color: #171717;
}
.navbar-inverse .navbar-brand{
    color: #D1D1D1
}

.bg-brand-color{
    background-color: #171717;
}

/* Jumbotron */

    /* jumbotron images */
.index-jumbo{
    background-image: url('https://images.unsplash.com/photo-1529400971008-f566de0e6dfc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    margin-bottom: 0px;
    height: 25em;
}

.services-jumbo{
    background-image: url('https://images.unsplash.com/photo-1468779036391-52341f60b55d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3321&q=80');
    background-size: cover;
    margin-bottom: 0px;
    height: 25em;
}

.design-jumbo{
    background-image: url('https://images.unsplash.com/photo-1535598745644-bc7913bb1a2a?ixlib=rb-1.2.1&auto=format&fit=crop&w=2255&q=80');
    background-size: cover;
    margin-bottom: 0px;
    height: 25em;
}

.contact-jumbo{
    background-image: url('https://images.unsplash.com/photo-1493934558415-9d19f0b2b4d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2072&q=80');
    background-size: cover;
    margin-bottom: 0px;
    height: 25em;
}

.signup-jumbo{
    background-image: url('https://images.unsplash.com/photo-1512645592367-97ba8a9d4035?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2238&q=80');
    background-size: cover;
    margin-bottom: 0px;
    height: 25em;
}

.login-jumbo{
    background-image: url('https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80');
    background-size: cover;
    margin-bottom: 0px;
    height: 25em;
}
    /* jumbotron text */
.index-jumbo .fas{
    color: #171717;
    display: inline-block;
    font-size: 100px;
    margin-right: 10px;
}

.index-jumbo h1{
    color: #171717;
    display: inline;
    font-size: 100px;
}
    
.index-jumbo p{
    color: #171717;
    margin-left: 19%;
    font-size: 30px;
}

.services-jumbo .fas{
    color: #171717;
    display: inline-block;
    font-size: 100px;
    margin-right: 10px;
}

.services-jumbo h1{
    color: #171717;
    display: inline;
    font-size: 80px;
}
    
.services-jumbo p{
    color: #171717;
    margin-left: 19%;
    font-size: 30px;
}

.design-jumbo .fas{
    color: #171717;
    display: inline-block;
    font-size: 100px;
    margin-right: 10px;
}

.design-jumbo h1{
    color: #171717;
    display: inline;
    font-size: 80px;
}
    
.design-jumbo p{
    color: #171717;
    margin-left: 40%;
    font-size: 30px;
    font-weight: 700;
}

.contact-jumbo .fas{
    color: #171717;
    display: inline-block;
    font-size: 100px;
    margin-right: 10px;
}

.contact-jumbo h1{
    color: #171717;
    display: inline;
    font-size: 100px;
}
    
.contact-jumbo p{
    color: #171717;
    margin-left: 28%;
}

.signup-jumbo .fas{
    color: #171717;
    display: inline-block;
    font-size: 100px;
    margin-right: 10px;
}

.signup-jumbo h1{
    color: #171717;
    display: inline;
    font-size: 100px;
}
    
.signup-jumbo p{
    color: #171717;
    margin-left: 28%;
}

.login-jumbo .fas{
    color: #171717;
    display: inline-block;
    font-size: 100px;
    margin-right: 10px;
}

.login-jumbo h1{
    color: #171717;
    display: inline;
    font-size: 100px;
}
    
.login-jumbo p{
    color: #171717;
    margin-left: 28%;
}
    /* Jumbotron text containers */
.index-jumbo-text{
    margin-top: 3em;
    margin-bottom: 3em;
}

.services-jumbo-text{
    margin-top: 3em;
    margin-bottom: 3em;
}

.design-jumbo-text{
    margin-top: 3em;
    margin-bottom: 3em;
}

.contact-jumbo-text{
    margin-top: 3em;
    margin-bottom: 3em;
}

.signup-jumbo-text{
    margin-top: 3em;
    margin-bottom: 3em;
}

.login-jumbo-text{
    margin-top: 3em;
    margin-bottom: 3em;
}

/* Navbar */
.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}

    /* Law Logo */
.navbar .fas{
    color: white;
    margin-right: 2px;
}

/* Black Spacing Bar */
.brand-color-bar{
    height: 2em;
    margin-bottom: 1em;
}

/* Row of Images and buttons */

img{
    width: 350px;
    margin: 10px;
}

.col-md-4{
    display:inline;
}

.info-images{
    margin-bottom: 1em;
    border: 5px solid #171717;
    border-radius: 5px;
}


button{
    background-color: #789681;
    color: white;
    font-family: 'mr-eaves-modern',sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn{
    font-size: 1.75em;
}

.btn:hover {
    color: #233D26;
}

        /* Button unvisited link */
button a:link {
    color: white;
  }
  
        /* Button visited link */
button a:visited {
    color: #D1D1D1;
  }
  
        /* Button mouse over link */
button a:hover {
    color: #233D26;
    text-decoration: none;
  }
  
        /* Button selected link */
button a:active {
    color: white;
  }

.img-row .fas{
    font-size: 100px;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 5%;
    color: #A6A6A6;
}

.img-row .fas:hover{
    color:#707070;
}

/* Footer */
footer{
    position: fixed;
    height: 10em;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #171717;
    color: white;
    margin-top: 50px;
}

address{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Media Querries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        height: 100px;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...}  */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    body{
        height: 100px;
    } 
} 


@media only screen and (max-width: 1198px){
    img{
        width: 300px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    body{
        height: 2200px;
    }

    img{
        width: 100%;
        margin: 0 auto;
    }
    .img-row .fas{
        display: none;
    }

/* Jumbotron */
    .jumbotron .fas-index{
        font-size: 70px;
    }
    
    .index-jumbo h1{
        font-size: 6em;
    }

    .index-jumbo p{
        margin-left: 20%;
    }

    .services-jumbo .fas{
        font-size: 60px;
    }

    .services-jumbo h1{
        font-size: 5em;
    }

    .services-jumbo p{
        margin-left: 18%;
        font-size: 2em;
    }

    .design-jumbo .fas{
        font-size: 60px;
    }

    .design-jumbo h1{
        font-size: 6em;
    }

    .design-jumbo p{
        margin-left: 40%;
        font-size: 3em;
    }

    .contact-jumbo .fas{
        font-size: 60px;
    }

    .contact-jumbo h1{
        font-size: 6em;
    }

    .contact-jumbo p{
        margin-left: 20%;
    }

    .signup-jumbo .fas{
        font-size: 60px;
    }

    .signup-jumbo h1{
        font-size: 6em;
    }

    .signup-jumbo p{
        margin-left: 20%;
    }

    .logim-jumbo .fas{
        font-size: 60px;
    }

    .login-jumbo h1{
        font-size: 6em;
    }

    .login-jumbo p{
        margin-left: 20%;
    }
} 




/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */