/* Adobe Font Styles */
.mrs-eaves-xl-seri{
    font-family: 'mrs-eaves-xl-serif',serif;
    font-weight: 800;
    font-style: normal;
}

.mr-eaves-modern{
    font-family: 'mr-eaves-modern',sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Brand Colors */

.brand-color{
    color: #171717;
}

.white-brand-color{
    color: #D1D1D1
}

body{
    background-color: #D1D1D1;
    font-size: 12px
}
.navbar-inverse{
    background-color: #171717;
}
.navbar-inverse .navbar-brand{
    color: #D1D1D1
}

.bg-brand-color{
    background-color: #171717;
}

/* Jumbotron */

.jumbotron{
    background-image: url('https://images.unsplash.com/photo-1529400971008-f566de0e6dfc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    margin-bottom: 0px;
    height: 25em;
}

.jumbotron p{
    margin-left: 28%;
}

.welcome-text{
    margin-top: 3em;
    margin-bottom: 3em;
}

/* Navbar */
.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}

/* Law Logo */
.navbar .fas{
    color: white;
    margin-right: 2px;
}

.jumbotron .fas{
    color: #171717;
    display: inline-block;
    font-size: 100px;
    margin-right: 10px;
}
.jumbotron h1{
    display: inline;
    font-size: 100px;
}

/* Black Spacing Bar */
.brand-color-bar{
    height: 2em;
    margin-bottom: 1em;
}

/* Row of Images and buttons */

img{
    width: 350px;
    margin: 10px;
}

.col-md-4{
    display:inline;
}

.info-images{
    margin-bottom: 1em;
    border: 5px solid #171717;
    border-radius: 5px;
}


button{
    background-color: #789681;
    color: white;
    font-family: 'mr-eaves-modern',sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn{
    font-size: 1.75em;
}

.img-row .fas{
    font-size: 100px;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 5%;
    color: #A6A6A6;
}

/* Footer */
footer{
    height: 10em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #171717;
    color: white;

}

address{
    margin-top: 20px;
    margin-bottom: 20px;
}